.fragment-many {

  .left {
    position: relative;
    @include span-columns(6, 'block-collapse');
    padding: 0 5%;

    .subnav {
      padding-top: 24%;

      .fragment-subnav {
        display: inline-block;
        height: 102px;
        @include span-columns(2);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-color: $gray;
        color: white;
        @include font-med;
        font-size: 50px;
        padding-top: 26.5px;
        text-align: center;
        @include transition(background-color 0.25s ease-in-out);

        &:hover,
        &.active {
          background-color: $blue;
        }
      }

    }

    .content {
      width: 80%;
      @include font-med;
      color: $gray;

      @media screen and (max-height: 625px) {
        margin-top: 50px;
      }

      .fragmented-part {
        display: none;

        &.active {
          display: block;
        }

        h3 {
          @include font-heavy;
          font-size: 50px;
        }
      }
    }
  }

  .right {
    position: relative;
    @include span-columns(6, 'block-collapse');
    background-color: $black;
    color: $off-white;

    .content {
      width: 80%;
      @include font-reg;
      font-size: 40px;
      line-height: 1.2;

      p {
        margin-bottom: 15px;
      }
    }
  }
}
