@font-face {
  font-family: 'Theinhardt-Reg';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/TheinhardtReg.otf);
}
@font-face {
  font-family: 'Theinhardt-Med';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/TheinhardtMed.otf);
}
@font-face {
  font-family: 'Theinhardt-Heavy';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/TheinhardtHeavy.otf);
}
@font-face {
  font-family: 'Theinhardt-Bold';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/TheinhardtBold.otf);
}
@font-face {
  font-family: 'Theinhardt-Black';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/TheinhardtBlack.otf);
}
