@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-base {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  @include font-smoothing;
}

@mixin font-reg {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

@mixin font-med {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
}

@mixin font-heavy {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}

@mixin font-bold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 800;
}
