.hero {
  position: relative;
  margin-top: 103px;
  height: calc(90vh - 103px);
  background-color: $black;
  color: $blue;

  .header-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 929px;

    h1 {
      @include t-med;
      font-size: 50px;
    }
  }
}
