.redefining {
  position: relative;
  background-color: $black;
  color: $off-white;
  @include t-med;
  font-size: 50px;

  .content {
    width: 80%;

    h1 {      

      span {
        color: $blue;
      }
    }
  }
}
