.section1 {
  position: relative;
  background-color: $off-white;
  color: $gray;

  .content {
    width: 75%;

    h1 {
      @include font-heavy;
      font-size: 50px;
      margin-bottom: 50px;
    }
  }
}
