.section5 {
  position: relative;
  background-color: $black;
  color: $blue;
  @include t-med;
  text-align: center;

  .content {
    width: 60%;

    h1 {
      font-size: 50px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
      margin-top: 30px;
      line-height: 1.1;

      a {
        color: $off-white;
        text-decoration: none;
      }
    }
  }
}
