.shift-one {
  position: relative;
  background-color: $off-white;
  color: $gray;

  .content {
    width: 75%;

    h1 {
      @include t-med;
      font-size: 50px;
      margin-bottom: 50px;
    }

    ul {
      padding-left: 85px;
      list-style: disc;
      @include t-med;

      li {
        font-size: 30px;

        .source {
          font-size: 20px;
          color: $blue;
          margin-top: 10px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
